---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
---

{% include base_path %}

<div class="blog-filters" style="margin-bottom: 2em; text-align: center;">
  <a href="{{ base_path }}/blog/" class="btn" style="margin: 0.5em;">All Posts</a>
  <a href="{{ base_path }}/tags/" class="btn" style="margin: 0.5em;">By Tags</a>
  <a href="{{ base_path }}/categories/" class="btn btn--primary" style="margin: 0.5em;">By Categories</a>
</div>

{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}