# Ignore the contents of the _site directory
_site/

# Ignore the directory for local files during development
local/

# Ignore bundler vendor directory
vendor/
.bundle/

# Ignore files created by npm
node_modules
package-lock.json